
        body { color: gray;
            background-color: grey;
            text-align: center;}
        a:link {color: white}
        a:visted {color: white}
        a:hover {color: white;font-weight: bold;}
        body {text-align: center;}
        body {text-align: center;}
        p {text-align: center;}
        body {background-color: grey}